{{#extend 'main'}}
{{#content 'body'}}
<div class="error-container">
    <h1 class="error-title">{{errorCode}} - {{errorMessage}}</h1>
    <p class="error-description">Ups! No tienes permisos para acceder a esta página.</p>
    <a href="/" class="button">Volver a la página principal</a>
</div>
{{/content}}
{{/extend}}