<h1 style="color: darkred;">Lista de productos</h1>
<div style=" display: flex; flex-wrap:wrap; gap: 20px;">
    {{#each products}}
    <div class="card">
        <p><strong>Nombre del producto:</strong> {{this.title}}</p>
        <p><strong>Descripción:</strong> {{this.description}}</p>
        <p><strong>Precio:</strong> ${{this.price}}</p>
        <p><strong>Código:</strong> {{this.code}}</p>
    </div>
    {{/each}}
</div>