<form method="POST" action="/api/sessions/login"
    style="display: flex; flex-direction: column; width: 300px; gap: 10px;">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit" class="button">Login</button>
    <a href="/api/sessions/github"
        style="background-color: rgb(255, 159, 159); text-align: center; border-radius: 6px; padding: 3px;">Entrar
        con
        GitHub</a>
    <a href="http://localhost:8080/register">Register</a>
</form>