<div class="form-container">
    <h2 style="color: #572727; text-align: center;">Iniciar sesión</h2>
    <form id="form-login" class="login-form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit" onsubmit="window.location.href = '/';" class="button">Login</button>
        <a href="/api/sessions/github" class="github-button">Entrar con GitHub</a>
    </form>
    <p style="color: darkred; text-align: center;">¿No tienes una cuenta? <a style="color: #572727;"
            href="/register">Regístrate</a></p>
</div>

<script src="/js/login.js"></script>