<h1>Recuperar contraseña</h1>
<p>Introduce el mail para el cual desea recuperar la contraseña: </p>
<form id="recoverPasswordForm" method="POST" action="/api/sessions/reset-password">
    <input type="email" id="email" name="email" placeholder="ejemplo@gmail.com" required>
    <button type="submit" class="button">Enviar correo de recuperación</button>
</form>