<div class="form-container">
    <h1 class="form-title">Recuperar contraseña</h1>
    <p class="form-description">Introduce el mail para el cual desea recuperar la contraseña:</p>
    <form id="recoverPasswordForm" class="recover-form">
        <input type="email" id="email" name="email" placeholder="ejemplo@gmail.com" required>
        <button type="submit" class="button">Enviar correo de recuperación</button>
    </form>
</div>

<script src="/js/recoverPassword.js"></script>