<div class="form-container">
    <h1 class="form-title">Restablecer contraseña</h1>
    <p class="form-description">Introduce tu nueva contraseña:</p>
    <form id="resetPasswordForm" data-token="{{token}}" class="recover-form">
        <input type="password" id="password" name="password" placeholder="Nueva contraseña" required>
        <button type="submit" class="button">Enviar</button>
    </form>
</div>

<script src="/js/resetPassword.js"></script>