<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega Handlebars y Websockets</title>
    <link rel="stylesheet" href="/css/{{style}}">
</head>

<body>
    <header
        style="width: 98%; color: whitesmoke; height: 40px; background-color: #572727; border-radius: 10px; position: sticky; display:flex; justify-content: space-between; align-items: center; padding: 5px 20px;">
        <h1 style="font-size: larger;">Proyecto Final Ecommerce Backend</h1>
        <h2 style="font-size: larger;">Juan José Boydo</h2>
    </header>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Pasando la variable serverUrl al código del cliente
        const serverUrl = "{{serverUrl}}";
    </script>
</body>

</html>